@charset "UTF-8";

@media screen and (min-width: 375px) and (max-width: 1024px) {

    header{
        background-color: beige;
    }

   i#burguer{
    display: none;
   }

   menu#opcoes{
    display: block;
     
   }
   menu#opcoes > ul > a > li {
    padding: 1px;
    width: 70px;
    margin: 0px 1px 0px 0px  ;
    font-size: 14px;
     
   }

   menu#opcoes > ul{
    columns: 5;
    display: flex;
   }

   main{
    min-width: 50%;
    max-width: 90%;
    width: 800px;
   }
  
}

@media screen and (min-width: 1025px) and (max-width: 2560px) {
    
    header{
        background-color: beige;
    }

   i#burguer{
    display: none;
   }

   menu#opcoes{
    display: block;
    margin: 0px 0px 4px 10px;
    position: absolute;
    top: 10px;
     
   }
   menu#opcoes > ul > a > li {
    padding: 2px;
    width: 70px;
    margin: 0px 2px 0px 0px  ;
    font-size: 16px;
     
   }

   menu#opcoes > ul{
    columns: 5;
    display: flex;
   }

   main{
    min-width: 50%;
    max-width: 90%;
    width: 1600px;
   }
}